body {
    margin: 0em;
  }
  
  .cover {
    height: 400px;
    background-image: url(https://cdn.glitch.global/b90e8d76-e975-4008-9320-bafd53edcf07/rsz_jason-wong-ksll887znke-unsplash.jpg?v=1657340989757);
    color: white;
    background-size:cover;
    background-position:center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:darken;
    
  }
  .cards{
    
    border:0 !important;
     box-shadow:0 4px 6px - 1px rgba(0,0,0,1),0 2px 4px -1px rgba(0,0,0,06);
  }